p {
  font-size: 14px;
}
h1 {
    font-size: 45px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*try to get auto height*/
#wrapper{
    height:90vh;
    flex-direction: row;
  }
  
#side_bar{
    display: block;
    padding-left: 10px;
    border-left: 0px;
    /*border-style: solid;*/
    /*border-width: 5px;*/
    /*border-color: #f5f5f5;*/
    /*set up fixed positions*/
    position:absolute;
    width:245px;
  }

/*title for instructions*/
#title_viz_instruct_text{
    width:99%;
    margin: 0 auto;
    color:#333;
    text-align: left;
    margin-top: 5px;
    padding-top:5px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 300;
    /*clear float left*/
    clear:both;
  }
  
  /* the instructions for the visualization should
  look like the input gene list text title*/
.viz_instruct_text{
    width:99%;
    margin: 0 auto;
    color:#333;
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
  }

/*container for state search box*/
#gene_search_container{
    margin-top: 10px;
    /*needed for some reason*/
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}

/*state search button*/
/* #state_search_button{
    margin-top:-2px;
} */

/* GARBAGE LEGEND */
#garbage_bin {
  display: block;
  flex-direction: row;
}

#legend_img {
  height: 100px;
  text-align: center;
}

#trash_dump_container{
  display: block;
  border-style: solid;
  border-width: 3px;
  border-color: #f5f5f5;
  margin-top: 10px;
  margin-left: 260px;
  height: 85vh;
}

/* AUTOCOMPLETE STYLING */
/*the container must be positioned relative:*/
#state_search_box {
  position: relative;
  display: inline-block;
  width:150px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.input {
  border-radius: 0px;
  background: #4a4a4a;
  border: 1px solid #a5a5a5;
  /* height: 0 0 30px; */
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}


ul.ui-autocomplete {
  list-style: none; 
  /* to remove the bullets */
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}